<!-- Login <%= success %>!

Registration <%= rsuccess %>! -->

<link rel="stylesheet" href="css/bootstrap.min.css"/>

<form method="post" action="/trylogin">
    Email : <input type="text" name="email" />
    <br />
    Password : <input type="password" name="password" />
    <br />
    <input type="submit" value="Login">
</form>

<a href="register">Register</a>

<script language="javascript" src="js/bootstrap.min.js"></script>

