Login <%= success %>!

Registration <%= rsuccess %>!

<form method="post" action="/trylogin">
    Email : <input type="text" name="email" />
    <br />
    Password : <input type="password" name="password" />
    <br />
    <input type="submit" value="Login">
</form>

<a href="register">Register</a>

