<!-- Login <%= success %>!

Registration <%= rsuccess %>! -->

<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="stylesheets/style.css"/>

<style>
    body {
        background-color: #34495e;
    }
</style>

<body>

<h1 style="text-align: center; padding-top: 50px; color: #FFFFFF;">Welcome to the File Manager</h1>

<div class="card" style="width: 28rem;  border: 0px; margin-right: auto; margin-left: auto; margin-top: 50px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form method="post" action="/trylogin">
        Email <input type="text" class="form-control" id="inputEmail3" name="email" />
        <br />
        Password <input type="password" class="form-control" id="inputPass" name="password" />
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
              <input type="submit" class="form-control btn btn-primary" style="background-color: #345E5E; border: 0px;" id="submitform1" value="Login">
            </div>
            <div class="form-group col-md-6">
              <a class="btn btn-dark form-control"  style="background-color: #34345E; border: 0px;" href="register">Register</a>
            </div>
          </div>
    </form>
    
    </div>
  </div>

<!-- <form method="post" action="/trylogin">
    Email : <input type="text" name="email" />
    <br />
    Password : <input type="password" name="password" />
    <br />
    <input type="submit" value="Login">
</form>

<a href="register">Register</a> -->

<script language="javascript" src="js/bootstrap.min.js"></script>

</body>