<script language="javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"/>

Register here

<form method="post" action="/registerthedetails">
    Email : <input type="text" name="email" />
    <br />
    Password : <input type="password" name="password" />
    <br />
    <input type="submit" value="Register">
</form>

<a href="/login">Login</a>